/**********
* Home page rules
**********/

.media-list {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 40px;
}

.media-list .item {
    flex-basis: 24%;
    margin: 4px;

    background: #1f1f1f;

    padding-bottom: 25px;
}

.media-list .item .video {
    width: 100%;
}

.media-list .item .video iframe {
    width: 100%;
}

.media-list .item .title {
    color: #fff;
    font-weight: bold;

    padding: 8px 20px;
    text-align: center;
}

.media-list .item .sums {
    width: 100px
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;

    padding: 5px 10px;

}
.media-list .item .title:after {
    content: "";
    display: block;
    width: 20px;

    border-bottom: 1px solid var(--color-red);
    margin: 10px auto 0 auto;

}

.media-list .item:hover {
    text-decoration: none;
}

.media-list .item .summary {
    color: #fff;
    padding: 8px 20px;
}



@media screen and (max-width: 768px) {
    .media-list .item {
        flex-basis: 100%;
    }
}
/*   <iframe width="560" height="315" src="https://www.youtube.com/embed/J2fkQCy41E4" frameborder="0"
             allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
             allowfullscreen></iframe>
   <iframe src="//vidstreaming.io/streaming.php?id=NTQ4OTM"
             allowfullscreen="true" frameborder="0" marginwidth="0"
             marginheight="0" scrolling="no"></iframe>
<iframe width="560" height="315" src="https://www.youtube.com/embed/t_oGuA-_NoI" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/hVqUi8eNibs" frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

*/